/* ===== CSS RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY STYLING ===== */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f7fa; /* soft light gray */
    color: #1f2937; /* dark gray text */
    line-height: 1.6;
}

/* ===== HOME SECTION */
#home {
    text-align: center;
    padding: 60px 20px;
}

/* ==== PROFILE IMAGE */
.profile-pic {
    width: 220px;
    height: 260px;
    border-radius: 50%;
    object-position: center top;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
    border: 4px solid #38bdf8;
}

#home h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: #38bdf8;
}

#home h4 {
font-size: 1.2rem;
color: #38bdf8;
margin-bottom: 15px;
font-weight: normal;
}

#home h1 {
    color: #38bdf8;
}

#home p {
    max-width: 600px;
    margin: 0 auto;
    color: #38bdf8;
}

/* ===== COMMON SECTION STYLE ===== */
section {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px 25px;
    background-color: #020617;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.1);
}

/* ===== HEADING =====*/
h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid #1e293b;
    padding-bottom: 8px;
    color: #38bdf8;
}

h3 {
    margin-top: 20px;
    margin-bottom: 8px;
    color: #38bdf8;
}

/* ===== PARAGRAPHS and LISTS ===== */
p {
    margin-bottom: 10px;
    color: #38bdf8;
}

ul {
    padding-left: 20px;
    color: #38bdf8;
}

li {
    margin-bottom: 7px;
    color: #38bdf8;
}

a, button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background-color: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

a:hover, button:hover {
    background-color: #0ea5e9;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}

/* SKILLS LAYOUT */
.skills-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.skills-container > div {
    flex: 1;
    min-width: 250px;

}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #020617;
    color: #94a3b8;
    font-size: 0.9rem;
}




